@media (min-width: 1200px)
	.menu
		&_item 
			padding-right: 20px
		&_link 
			font-size: 13px		
	.subheader
		&_logo 
			display: block 
			min-width: 100% 
			margin-top: 16px 
		&_official 
			margin-top: 6px 
			opacity: 0.5 
			color: #FFF 
			font-size: 13px 
			font-style: normal 
			font-weight: 100 
		#call
			display: grid
			justify-content: end
			text-align: right
			
	.promo
		&_header
			font-size: 60px
	.reasons
		&_block
			align-items: center
		&_descr
			width: 343px
		&_block_round
			width:  113px 
			height:  113px 
	.choice
		&_img
			margin: 56px auto 0 auto
	
@media (max-width: 1200px)
	.menu 
		display: flex 
		justify-content: center
		padding: 13px 70px 
		margin: 0 auto
		list-style-type: none 
		&_item 
			padding-right: 20px
		&_link 
			font-size: 13px		
	.subheader
		&_logo 
			margin-left: 50px
			display: block 
			min-width: 100% 
			margin-top: 16px 
		&_official 
			margin-left: 52px
			margin-top: 6px 
			opacity: 0.5 
			color: #FFF 
			font-size: 13px 
			font-style: normal 
			font-weight: 100 
		#call
			display: grid
			justify-content: end
			text-align: right
	.promo
		&_header
			font-size: 50px
	.reasons
		&_block
			flex-direction: column
			align-items: center
		&_descr
			margin-top: 20px
			width: 300px
		&_block_round
			width: 96px
			height: 96px
	.row
		.mobile_item
			width: 280px
			height: 256px
	.choice
		&_img
			margin: 56px auto 0 auto




	
@media (max-width: 992px)


	.reasons
		&_block
			align-items: center
		&_descr
			margin-top: 20px
			width: 207px
	#index
		margin-left: -170px
		margin-right: -170px
	.choice
		&_img
			margin: 56px auto 0 -30px


@media (max-width: 767px)
	menu
		position: fixed
		top: 0
		right: 0
		width: 50%
		height: 100vh